* {
  box-sizing: border-box;
}

.toggle-btn {
  border-radius: 5px;
  background-color: white;
  border: 1px black solid;
  margin-bottom: 6px;
  margin-top: 6px;
}

/* Container with all jokes  */
.jokes--entire-container {
  row-gap: 10px;
}

/* Card Styling */

.card {
  width: 60%;
  padding: 2px 10px;
}

.card p {
  margin-bottom: 0;
  line-height: 1.25;
}
