body {
    font-family: 'Wix Madefor Display', sans-serif;
    background-color: rgb(232, 232, 232)
}

img {
    margin-top: 24px;
    margin-bottom: 4px;
    clip-path: circle();
    width: 50%;
    object-fit: cover;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.underline {
    width: 33%; /* Set the width to one-third of the container */
    height: 2px; /* Set the height of the underline */
    background-color: black; /* Set the color of the underline */
    margin-top: 4px; /* Adjust the margin as desired to position the underline */
}

.destination-whole-container {
    margin-top: 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 10%;
    border: 1px black solid;
    border-radius: 10%;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.destination-whole-container, .destination, .review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.destination {
    row-gap: 0px;
}

.destination p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.destination-name {
    font-weight: bold;
}

.review-text {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.star {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('img/star.png'); 
    background-size: cover;
}

.review-text{
    margin-bottom: 0;
}

.review-star-rating {
    margin-top: 10px;
    margin-bottom: 10px;
}

.review {
    opacity: 0;
    /* transition: opacity 0.3s ease;  // check recent chatgpt answer for not hard coding transition */
}

.new-card-btn {
    border-radius: 10px;
    background-color: rgb(40, 168, 40);
    color: white;
    border: none;
    padding: 8px 12px;
    margin-bottom: 8px;
    transition: 0.2s;
}

.new-card-btn:hover {
    background-color: rgb(213, 212, 212);
    color: rgb(14, 123, 14);
}

.new-card-btn:active {
    opacity: 0.8;
}


