.navbar--icon-container > i {
    font-size: 20px;
}

.navbar--brand-name {
    color: white;
}

.navbar--portfolio-links {
    color: white;
    column-gap: 12px;
}


.card-img-top {
    border: 0.2px black solid;
    height: 225px;
}