* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  /* changed from content-box */
}

body {
    font-family: Arial;
    background-color: rgb(254, 254, 19);
    transition: background-color 2s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background-color:white;
    width: 50%;
    padding: 1.5%;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.search-wrapper {
    display: grid;
    grid-template-columns: 9fr 3fr;
    gap: 1.25em;
}

.search-wrapper input {
    font-size: 1em;
    padding: 0 0.62em;
    border: none; 
    border-bottom: 2px solid blue;  /* neat! */
    outline: none;  /* no border once we click on the input */
}

.search-wrapper button {
    font-size: 1em;
    background-color: blue;
    color: white;
    padding: 0.8em 0;
    border: none;
    border-radius: 1.5em;
    transition: 0.25s;
}

.search-wrapper button:hover {
    background-color: rgb(100, 100, 100);
}

/* Hide results initially */
.hidden {
    display: none;
}

.error-message {
    text-align: center;
    margin-top: 10px;
    color: red;
}

.image-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

img {
    width: 30%;
    border: 1px black solid;
}

.country-name {
    font-weight: bold;
}

.facts-container p {
    margin-top: 4px;
}
