body {
    font-family: Arial, Helvetica, sans-serif;
}

.my-button {
    background-color: greenyellow;
    padding: 10px;
    border: none;
    border-radius: 5px;
    transition: 0.5s;
}

.my-button:hover {
    background-color: black;
    color: greenyellow;
}
