* {
    box-sizing: border-box;
}

:root {
    --lt-blue-theme: #61DAFB;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    background-color: rgb(49, 51, 60);
}

/* img {
    width: 30px;
} */

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;;
    background-color: #21222A;
    height: 90px;
    padding: 30px 25px;
}

.nav--logo-text, .nav--title {
    margin: 0;
}

.nav--logo-text {
    margin-right: auto;
    color: var(--lt-blue-theme);
    font-weight: 700;
    font-size: 22px;
}

.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}

/* MAIN */


main {
    padding: 57px 27px;
    color: white;
    background-image: url(https://www.svgrepo.com/show/372933/react.svg);
    background-position: right 0% bottom 20%;
    background-repeat: no-repeat;
    background-size: 50%;
}

.main--title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.main--facts {
    margin-top: 46px;
    /* Wrap text after 400px */
    max-width: 400px;
}

.main--facts > li {
    line-height: 19px;
    padding-block: 10px;
}


/* Cool way of styling markers  */
.main--facts > li::marker {
    color: var(--lt-blue-theme);
    font-size: 1.4rem;
}

